<ion-view title="Call Center">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="list">    

  <a class="item item-icon-left item-icon-right" href="#app/browse">
    <i class="icon ion-monitor"></i>
    Telkomsel
    <i class="icon ion-ios7-arrow-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#app/isat">
    <i class="icon ion-monitor"></i>
    Indosat
    <i class="icon ion-ios7-arrow-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#app/xl">
    <i class="icon ion-monitor"></i>
    XL
    <i class="icon ion-ios7-arrow-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#app/three">
    <i class="icon ion-monitor"></i>
    Three (3)
    <i class="icon ion-ios7-arrow-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#app/smartfren">
    <i class="icon ion-monitor"></i>
    Smartfren
    <i class="icon ion-ios7-arrow-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#app/telkom">
    <i class="icon ion-monitor"></i>
    Telkom Indonesia
    <i class="icon ion-ios7-arrow-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#app/esia">
    <i class="icon ion-monitor"></i>
    Esia / AHA
    <i class="icon ion-ios7-arrow-right"></i>
  </a>

  

</div>

  </ion-content>
</ion-view>
